### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### virtualenv ###
bin
include
lib
local
man

### CoCoTB ###
sim_build
results.xml

### test logfiles ###
*.log

# C extensions
*.so

### Emacs ###
*~